* {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	background-color: #bb2424;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 5px;
	width: 505px;
	height: 505px;
	border-radius: 10px;
}

#grid {
	background-color: #faebd7;
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
}

.square {
	/* background-color: #faebd7; */
	display: flex;
	flex-wrap: wrap;
}

.drawn {
	background-color: black;
}
